.login-page {
    background: url("dc-fest/public/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card {
    border-radius: 10px;
    background-color: rgb(193, 168, 216);
}

.card-body {
    padding: 30px;
}

h3 {
    font-weight: bold;
}

button {
    background-color: #007bff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}